<div class="row">
    <h3>Proyectos</h3>
    <div class="conteiner">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h6>Segmentación del mercado de ventas</h6>
            <p>Procesamiento y análisis del mercado de ventas de
                propiedades en dos regiones de Australia (Victoria y el Área Metropolitana).
                Se contaba con mas de 13.000 observaciones de 21 variables. Se realizaron
                análisis univariado, bivariado y multivariado, además se crearon modelos estadisticos predictivos.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyectoautrali.png" class="img-fluid img-australia">
        </div>
    </div>

</div>
