<div class="row">
    <div class="conteiner">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
                <a href="https://www.instagram.com/luquigui/">
                    <img src="../../../assets/instagram.png" id="logoIG"></a>
                <a href="https://github.com/LuBode">
                    <img src="../../../assets/github.png" id="logoGH"></a>
                <button type="button" class="btn btn-outline-ligther" (click)="login()">LOGIN</button>
        </div>
    </div>
</div>

