<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilfoto.png" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <p id="nombre">Lucia A. Garcia Bode</p>
        <p id="titulo">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <span>
            <h3>Acerca de mi</h3>
            <p id="acercademi">Soy estudiante universitaria en Procesamiento y Explotación de Datos,
                además estudio Bioingeniería y Licenciatura en Criminalística.
                Poseo una formación sólida en mi área de especialización, 
                pero también destaco por mis habilidades blandas y mi capacidad 
                para trabajar en equipo. Soy una persona proactiva y organizada, 
                lo que me permite planificar y llevar a cabo proyectos de manera efectiva. 
                Además, tengo experiencia en el manejo de datos y sigo estudiando para mantener 
                mis habilidades y conocimientos actualizados. 
                A lo largo de mi trayectoria, he demostrado un alto nivel de compromiso 
                y dedicación, lo que me ha llevado a alcanzar mis objetivos y obtener resultados destacados.
            </p>
        </span>
    </div>
</div>
