<div class="row">
    <h3>Hard & Soft Skills</h3>
    <div class="text-center col-sm-4 col-md-4 col-lg-4>">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [showUnits]="false"
        [title]="'Python'"
        [titleFontSize]="'1.8em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#FFA130'"
        [innerStrokeColor]="'#FFC580'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4>">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [showUnits]="false"
        [title]="'SQL'"
        [showSubtitle]="false"
        [titleFontSize]="'1.8em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#EFF61A'"
        [innerStrokeColor]="'#FBFF80'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4>">
        <circle-progress
        [percent]="95"
        [radius]="100"
        [showUnits]="false"
        [title]="'R'"
        [showSubtitle]="false"
        [titleFontSize]="'1.8em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#1AF6D1'"
        [innerStrokeColor]="'#73F7E0'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4>">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [showUnits]="false"
        [title]="'Comunicación'"
        [titleFontSize]="'1.4em'"
        [subtitle]="'efectiva'"
        [subtitleColor]="'black'"
        [subtitleFontSize]="'1.4em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#4234ED'"
        [innerStrokeColor]="'#A59EF8'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4>">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [showUnits]="false"
        [title]="'Trabajo'"
        [titleFontSize]="'1.6em'"
        [subtitle]="'en equipo'"
        [subtitleColor]="'black'"
        [subtitleFontSize]="'1.6em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#F72EE2'"
        [innerStrokeColor]="'#ED87E2'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4>">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [title]="'Pensamiento'"
        [titleFontSize]="'1.5em'"
        [subtitle]="'crítico'"
        [subtitleColor]="'black'"
        [subtitleFontSize]="'1.5em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#FA344D'"
        [innerStrokeColor]="'#FE7687'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    
</div>
