.row{
    padding: 20px;
    background-color: rgb(41, 214, 162);
}

div{
    background-color: rgb(41, 214, 162);
}

h6{
    display: inline;
}

p{
    font-weight: lighter;
    font-size: 15px;
    text-align: justify;
}