<div class="row">
    <h3>Educación</h3>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Nueva Educacion
        </button>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h3>{{Educacion.nombreE}}</h3>
                    </td>
                    <td>{{Educacion.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button type="button" class="btn btn-ligth" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-pencil-fill"> EDITAR </i></button>
                    </td>
                    <td *ngIf="isLogged">
                        <button type="button" class="btn btn-ligth" (click)="borrar(Educacion.id)">
                            <i class="bi bi-trash-fill"> ELIMINAR </i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



</div>